langchain
langchain_groq
fastapi
dotenv
langchain_core
langserve
uvicorn
sse_starlette
langchain_huggingface
langchain_core
speechrecognition
pydub
python-multipart
fastapi
langchain_community
langchain_chroma
pypdf
docx
pytesseract
pdfplumber
pandas
python-docx
ipykernel
xlrd
openpyxl